body {
  background-image: url(./assets/background.png);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.undraw-adventure-icon {
  position: absolute;
  right: 0px;
  top: -96px;
}

.answerCount {
  display: flex;
  color: #60BF88;
  font-size: 28px;
  padding-left: 12px;
  padding-right: 12px;
}

.results-image {
  position: absolute
}